@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="page-section">
    <body>

    <div class="text-center">
        <h1 class="display-4">Lecturer's Claim</h1>
    </div>

        <div class="form-container">
            <form asp-controller="Login" asp-action="Privacy" method="post">

                <div class="input-field">
                    <input type="text" name="hours_worked" required>
                    <label>Hours Worked</label>

                </div>
                <div class="input-field">
                    <input type="text" name="hourly_rate" required>
                    <label>Hourly Rate</label>
                </div>

                <div class="file-field">
                    <label>Document</label>
                    <input type="file" name="document" required>
                   
                </div>

                <div class="textarea-field">
                    <label>Additional Notes</label>
                    <textarea name="notes" rows="6" cols="78"></textarea>
                </div>


                <div class="buttom-field">
                    <button type="submit">Submit</button>
                </div>
            </form>

        </div>

        <div class="text-center">
            <h1 class="display-4">Lecturers's Claims Management</h1>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Claim ID</th>
                    <th>Hourly Rate (ZAR)</th>
                    <th>Document</th>
                    <th>Additionl Notes</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>160</td>
                    <td>
                        <form>
                            <button>Download</button>
                        </form>
                    </td>
                    <td>
                        <form>
                            <button>See notes</button>
                        </form>
                    </td>
                    <td>Pending</td>
                </tr>
            </tbody>
        </table>


    <div class="text-center">
        <h1 class="display-4">Managers and Coordinators' Claims Management</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Claim ID</th>
                <th>Hourly Rate (ZAR)</th>
                <th>Document</th>
                <th>Additionl Notes</th>
                <th>Verificatiion</th>
            </tr>  mn
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>160</td>
                <td>
                    <form>
                        <button>Download</button>
                    </form>
                </td>
                <td>
                    <form>
                        <button>See notes</button>
                    </form>
                </td>
                <td>
                    <form>
                        <button>Approve</button>
                        <button>Reject</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    </body>
</section>
