@{
    ViewData["Title"] = "Home Page";
}
<section class="page-section">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>To log in you can use the following accounts</p>
        <br />
        <p>jslubota@@gmail.com, Password: 0000, Account Type: Lecturer</p>
        <p>ABaptista@@gmail.com, Password: 0000, Account Type: Manager</p>
        <p>GSEED@@gmail.com, Password: Cagali, Account Type: Coordinator</p>
    </div>
</section>


