@*

*@
@{
    ViewData["Title"] = "Profile Updated";
}

<section class="page-section">

    <div class="text-center" style="padding-top:40px ; padding-bottom:40px;">
        <h1>Profile Updated</h1>
    </div>
    <p>Your profile has been successfully updated.</p>
    <p><a href="/">Return Home</a></p>



</section>
